.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  background: #0f172a;
  color: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: underline;
}